* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background: url(../img/food.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	background-size: 100% 100%;
}

body {
	margin: 0;
	height: 100%;
	color: white;
	text-align: left;
	text-shadow: 1px 1px 8px black;
	/*height: 100%;*/
	background: none;
}

button {
	font-size: 1.2em;
	padding: 0.5em 1em;
	border: none;
	border-radius: 1em;
	color: #fff;
	background: #990099;
	transition: all 0.3s ease 0s;
}

button:hover {
	background: #ca692e;
}

button:disabled {
	background: #dddddd;
}

h1 {
	font-weight: bold;
}

.row {
	width: 100%;
}

.total {
	height: 10%;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	text-align: left;
	left: 50%;
}

.today-cal {
	margin: 20px 0 10px 0;
}

.today-cal h1,
.today-cal div {
	display: inline;
}

.total div {
	display: inline;
}

.list {
	padding: 1em;
	height: 100%;
}

.col-md-6 {
	height: 100%;
}

.col-md-9,
.col-md-3 {
	padding: 0;
	margin-bottom: 2.0em;
}

.search {
	height: 100%;
}

.searchform {
	margin-bottom: 2.0em;
}


.section-info {
	position: relative;
	z-index: 2;
	padding: 20px 0 40px;
}

.searchfield {
	width: 100%;
	font-size: 1.2em;
	padding: 0.5em 1.0em;
	border: none;
	border-radius: 1.0em;
	color: black;
}

.searchBtn {
	display: block;
	width: 120px;
	margin: 10px auto;
}

.searchformAlert {
	display: inline-block;
	margin: 1.0em 0;
}

.search-result {
	list-style: none;
	padding: 0;
}

.search-result li {
	background: rgba(255, 255, 255, 0.6);
	padding: 0.2em;
	margin-bottom: 0.4em;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	text-align: left;
	color: #660066;
	text-shadow: none;
	font-weight: 900;
}

.search-result li:hover {
	background: rgba(255, 255, 255, 1);
}

.searchName {
	display: inline-block;
	width: 75%;
}

.searchCal {
	display: inline-block;
	float: right;
}

.addFood-div {
	/*background: #fff;
	padding: 0.2em;*/
	margin-bottom: 2em;
}

.addFood-div h4,
.addFood-div div #foodName,
.addFood-div div #foodCal {
	display: inline;
}

#foodName,
#foodCal {
	position: absolute;
	text-align: left;
	left: 130px;
}

.addFood-div h3 {
	margin-bottom: 1em;
}

.foodSubmitBtn {
	margin-top: 0.2em;
	width: 150px;
}

.selected-result {
	list-style: none;
	padding: 0;
}

.selected-item {
	display: inline-block;
	text-align: left;
	background: rgba(255, 255, 255, 0.6);
	padding: 0.2em;
	margin-bottom: 0.4em;
	transition: all 0.3s ease 0s;
	width: 100%;
}

.delete {
	display: inline-block;
	/*text-align: right;*/
	color: #af282e;
	cursor: pointer;
}

@media only screen and (min-width: 768px) {
	.hero-div {
		padding-top: 150px;
	}

	.section-info {
		padding-top: 40px;
	}

	.searchfield {
		width: 70%;
	}

	.searchBtn {
		display: inline;
		width: 25%;
		margin: 0 0 0 10px;
	}
}

@media only screen and (min-width: 1280px) {
	.hero {
		background-image: url(../img/hero-background-lg.jpg);
		min-height: 700px;
	}
	.hero-div-bg {
		width: 600px;
		height: 600px;
		margin: 40px auto;
	}
	.hero-div {
		padding-top: 200px;
	}
}


