<!DOCTYPE html>

<html>


<head>
	<title>Health Tracker</title>
	<!-- META TAGS -->
	<meta name="author" content="Shaun N. Cox">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<!-- CSS LINKS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>


<body>
	<div class="container-fluid food-pic">
		<div class="row">


			<!-- LEFT HALF OF PAGE -->
			<div class="col-md-6">
				<!-- SEARCH SECTION -->
				<section class="search">
					<h1>The Calorie Tracker</h1>
					<form action="" class="searchform">
						<div class="col-md-12">
							<div class="col-md-9">
								<input type="text" id="searchfield" class="searchfield" placeholder="* Enter Food Here *">
							</div>
							<div class="col-md-3">
								<button type="submit" id="searchBtn" class="searchBtn">Search</button>
							</div>
						</div>
						<span id="searchformAlert" class="searchformAlert"></span>
					</form>
					<h3>Search Results</h3>
					<ul class="search-result"></ul>
				</section>
			</div>


			<!-- RIGHT HALF OF PAGE -->
			<div class="col-md-6">
				<!-- CALORIE TOTAL SECTION -->
				<div class="today-cal">
					<h1>Total Calories  =</h1>
					<div class="total">
						<div id="total" class="total-cal"></div>
						<div> cal.</div>
					</div>
				</div>
				<!-- CURRENT FOOD SECTION -->
				<!--
				<span id="resultAlert" class="searchformAlert">No food selected.</span>
				-->
				<div id="addFood" class="addFood-div">
					<div class="col-md-9">
						<div>
							<h4>Food Name:</h4>
							<div id="foodName">NO FOOD SELECTED</div>
						</div>
						<div>
							<h4>Calories:</h4>
							<div id="foodCal">NO FOOD SELECTED</div>
						</div>
					</div>
					<div class="col-md-3">
						<div>
							<button id="foodSubmit" class="foodSubmitBtn" disabled>Add Food</button>
						</div>
					</div>
				</div>
				<!-- LIST OF ADDED FOODS SECTION -->
				<h3>Selected Food</h3>
				<div class="foodsList">
					<script id="foodsListTemplate" type="text/template">
						<span class="searchName"><%= title %></span>
						<span class="searchCal"><%= calorie %> Cal.</span>
						<span class="delete">X</span>
					</script>
				</div>
			</div>


		</div>
	</div>


	<!-- JAVASCRIPT SECTION -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
	<script src="js/helper/helper.js"></script>
	<script src="js/models/food.js"></script>
	<script src="js/collections/food-collection.js"></script>
	<script src="js/views/food-collection-view.js"></script>
	<script src="js/views/food-view.js"></script>
	<script src="js/views/search.js"></script>
	<script src="js/app.js"></script>

</body>

</html>
